@import '../css/util.scss' ;

.SideTopFiltresFull {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom-width: 2px;
    border-color: $gray-100;
    font-weight: 400;
    @extend %flex-row;
    .Title {
        flex-grow: 1;
        @extend %text-base;
        color: $secondary;
        :first-child {
            font-weight: 700;
        }
        .Button {
            @extend %text-xl;
            margin-right: 0.5rem;
        }
    }
}

.SideTopFiltres {
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 0.15rem;
    text-align: left;
    border-bottom-width: 2px;
    border-color: $gray-100;
    .react-select-container:first-child {
        margin-bottom: 0.25rem;
    }
    .react-select-container {
        @extend %text-xs;
        text-align: left;
        margin-bottom: 0.1rem;
        .react-select__control{
            border: 1px solid $gray-400;
            background-color: #f5f5f5;
            border-radius: 0.5rem;
            .react-select__indicators {
                .react-select__indicator-separator {
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .react-select__menu {
            .react-select__menu-list{
                .react-select__option {
                    padding: 0.15rem;
                }
            }
        }
    }    
}