@import '../css/util.scss' ;

.SideFiltres {
    @extend %flex-col;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #F5F5F5;
    .react-select-container {
        @extend %text-xs;
        text-align: left;
        margin-bottom: 0.1rem;
        .react-select__control{
            border: 1px solid $gray-400;
            background-color: $white;
            border-radius: 0.5rem;
            .react-select__indicators {
                .react-select__indicator-separator {
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .react-select__menu {
            .react-select__menu-list{
                .react-select__option {
                    padding: 0.15rem;
                }
            }
        }
    }
}