@import '../css/util.scss';

.Etablissement {
    @extend %flex-row;
    @extend %full;

    &.Wait {
        cursor: wait !important;
    }
    .LeftPart {
        width: 75%;
        height: 100%;
        background-color: $gray-200;
        text-align: center;
        color: $gray-700;
        @extend %flex-col;
        position: relative;
        .Loader {
            height: 100%;
            @extend %flex-col;            
        }
    }
}

.Etablissement.MobileOnly {
    .LeftPart{
        .FiltresLink {
            display: none;
        }
        .Filtres {
            display: none;
        }
        .leaflet-container {
            .leaflet-control-zoom {
                .leaflet-control-zoom-in, .leaflet-control-zoom-out {
                    padding: 20px;
                    border-radius: 10px !important;
                }        
            }
        }

    }
    .SideBar {
        .SideTopFiltres {
            display: none;
        }
        .SideTopFiltresFull {
            .Title {
                div:first-child {
                    display: none;
                }
            }
            .Indicateur {
                margin-top: 0;
            }
        }
    }    
}

.Etablissement.MobileOnly.portrait {
    flex-direction: column;
    .LeftPart {
        width: 100%;
        height: 70vh;
        .leaflet-container {
            .leaflet-control-container{
                .leaflet-bottom {
                    flex-direction: column;
                }
            }
        }
    }
    .SideBar {
        width: 100%;
        height: 70vh;
    }
}

.Etablissement.MobileOnly.landscape {
    .LeftPart {
        height: calc(100vh - 70px);
        width: 60%;
        .leaflet-container {
            .leaflet-control-container{
                .leaflet-bottom {
                    flex-direction: row;
                    .legend{
                        margin:0;
                        padding: 0.25rem;
                        margin-bottom: 1.0rem;
                        &:first-child {
                            margin-right: 2rem;
                        }
                    }
                }
            }
            .leaflet-control-zoom {
                position: relative;
                top: -1rem;
            }
        }
    }
    .SideBar {
        width: 40%;
        height: calc(100vh - 70px);
        .SideInfosEtablissement{
            .Container {
                .Title{
                    @extend %flex-row;
                    justify-content: space-between;
                }  
            }
            .Datas {
                @include margin-y(0) ;
                flex-grow: 1;
                .Menu {
                    @include margin-y(0) ;
                    @include padding-y(0) ;
                }
                .Data {
                    @include margin-y(0) ;
                    flex-grow: 1;
                }
            }
        }
   }
}